{% extends "main.html" %}

{% block head %}
    {{ jimi.jquery() }}
    {{ jimi.tables() }}
{% endblock %}

{% block main %}
  <div class="container px-4 py-5 text-center" id="custom-cards">
    <div class="text-start" >
        <input type="text" class="form-control textbox w-50" id="webTriggerSearch" onkeyup="doWebTriggerSearch()" placeholder="Search for forms">
    </div>
    <div class="row row-cols-1 row-cols-lg-5 align-items-stretch g-2 py-4">
        {% for trigger in triggers|sort(attribute='name') %}
            <div class="col webTriggerContainer" data-name="{{ trigger["name"] }}" style="height: 125px;">
                <a href="#" class="noHover" onclick="webTriggerModal('{{ trigger["_id"] }}')">
                    <div class="card h-100 panel panelHover">
                        <h5 class="card-title">{{ trigger["name"] }}</h5>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="webTriggerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content panel">
                <div class="modal-header">
                    <input type="hidden" id="webTriggerID"></input>
                    <h5 class="modal-title" id="webTriggerModalTitle"></h5>
                    <button type="button" class="close button" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="webTriggerModalForm">
                </div>
                <div class="modal-footer justify-content-start">
                    <button type="button" class="btn btn-primary button bi-play" onclick="webTriggerTrigger()"> Trigger</button>
                    <button type="button" class="btn btn-primary button" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <script>
    function webTriggerModal(webTriggerID) {
        $.ajax({ url: webTriggerID+"/", type : "GET", contentType:"application/json", success: function ( result ) {
                $('#webTriggerModalTitle').text(result["result"]["name"]);
                $('#webTriggerID').val(result["result"]["_id"]);
                $("#webTriggerModalForm").empty();
                $("#webTriggerModalForm").append(buildForm(result["result"]["formData"]));
                $('#webTriggerModal').modal('show');
            }
        });
    }
    function webTriggerTrigger() {
        webTriggerID = $('#webTriggerID').val();
        jsonData = getForm($("#webTriggerModalForm"))
        if (!jsonData) {
		    return;
	    }
        jsonData["CSRF"] = CSRF;
        $.ajax({url: webTriggerID+"/", type:"POST", data: JSON.stringify(jsonData), contentType:"application/json", success: function ( result ) {
                window.location.href = webTriggerID+"/"+result["result"]["webTriggerExecutionID"]+"/";
            }
        });
    }
    function doWebTriggerSearch() {
        var input = document.getElementById("webTriggerSearch");
        var searchFilter = input.value.toUpperCase();
        var regex = new RegExp('\\b\\w*' + searchFilter + '\\w*\\b');
        $('.webTriggerContainer').hide().filter(function () {
            var nr = regex.test($(this).data('name').toUpperCase());
            if (nr) {
                return true;
            }
            return false;
        }).show();
    }
    $(document).ready(function() {
      doWebTriggerSearch();
    });
  </script>
{% endblock %}   